@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

/*@import url(iconfont/material-icons.css);*/

@import url(https://fonts.googleapis.com/css?family=Black+Ops+One);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

/*@import url(style_card.css);*/

body {
  text-align: center;
  background: #e5e5e5;
  font-family: 'Noto Sans KR', sans-serif;
  color: rgba(0, 0, 0, .87);
  margin: 8em 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #000;
  transition: .25s;
  padding: .5em .75em;
  margin: -0.75em -.75em;
}

a:hover {
  /* box-shadow: 2px 0px 5px rgba(0, 0, 0, .25);
  background: #fff;
  z-index: 10;
  position: relative; */
}

header, footer {
  font-size: 5em;
  width: 100%;
  position: fixed;
  background: #212121;
  color: #ddd;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

section {
  height: 100%;
  text-align: center;
}

.item {
  display: inline-block;
  margin: 1em .5em;
  text-align: center;
  width: 128px;
  height: 128px;
}

.item a {
  width: 100%;
}

.item img {
  width: 100%;
}

.item p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-transform: uppercase;
}

.item p span {
  text-transform: none;
}

#title {
  text-align: center;
  font-size: 10em;
}

h2 {
  font-size: 12px;
  font-weight: normal;
  color: rgba(0, 0, 0, .55);
  margin: 1em 0;
}

@media handheld, only screen and (max-device-width:480px), only screen and (max-device-width:320px), screen and (max-width:600px) {
  body {
    margin: 0;
  }
  .item {
    width: 64px;
    height: 64px;
  }
  .item p {
    display: none;
  }
}
