@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('style_theme.css');

::selection {
  background: rgba(0, 0, 0, 0);
}

body {
  /* background: #e5e5e5; */
  font-family: 'Noto Sans KR', sans-serif;
  color: rgba(0, 0, 0, .87);
  margin: 8em 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #000;
  transition: .25s;
  padding: .5em .75em;
  margin: -0.75em -.75em;
}

a:hover {
  /* box-shadow: 2px 0px 5px rgba(0, 0, 0, .25);
  background: #fff;
  z-index: 10;
  position: relative; */
}

header, footer {
  line-height: 1;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-family: 'Damion', cursive;
  padding: 3em 0;
  background: rgba(255, 255, 255, .75);
  z-index: 2;
}

footer {
  bottom: 0;
}

section {
  width: 100%;
  height: fit-content;
  min-height: 200px;
  display: inline-block;
  position: relative;
  position: fixed;
  left: 0;
  top: 50%;
}

.item {
  display: inline-block;
  margin: 1em .5em;
  height: 200px;
  width: 316px;
  left: calc(50% - 100px);
  transition: transform .25s;
  position: absolute;
  transform-origin: 50% 700%;
}

.item a {
  width: 100%;
  height: 100%;
  color: #fff;
}

.item img {
  max-width: 128px;
  max-height: 128px;
  width: 100%;
  height: 100%;
}

.item p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-transform: uppercase;
}

.item p span {
  text-transform: none;
}

.item .since {
  position: absolute;
  top: 8px;
  right: 12px;
  opacity: .75;
  font-size: .75em
}

.card {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
  border-radius: 10px;
  position: relative;
  background: #444;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, .25);
  cursor: pointer;
  color: #fff;
  transition: box-shadow .25s, margin .25s;
}

.item.on .card,
.card:hover {
  margin-top: -12px;
  box-shadow: -5px 0px 11px rgba(0, 0, 0, .25);
}

/*
.card:hover {
  margin-top: -50px;
  box-shadow: 7px 0px 10px rgba(0, 0, 0, .25);
} */
.card .title {
  left: 32px;
  position: absolute;
  top: calc(50% + 1em);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
  width: 250px;
  text-align: left;
}

.card .icon {
  /* background: gold; */
  /* border:1px solid white; */
  width: 32px;
  height: 32px;
  left: 34px;
  position: absolute;
  top: calc(50% - 16px);
}

.card .arrow {
  color: #fff;
  left: 12px;
  position: absolute;
  top: calc(50% - 1em);
}

.item.qualify .title, .item.qualify .date, .item.qualify .url, .item.qualify .arrow {
  color: #212121;
}

.card .date {
  position: absolute;
  width: 100px;
  left: 200px;
  text-align: left;
  font-size: .75em;
  top: calc(50% + 40px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .url {
  position: absolute;
  width: 120px;
  left: 32px;
  text-align: left;
  font-size: .75em;
  top: calc(50% + 40px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info {
  color: #777;
  position: absolute;
  left: 0;
  opacity: .02;
  transition: .25s;
  width: 400px;
  left: calc(100% + 16px);
  top: 64px;
}

.item.on .info,
.card:hover .info {
  opacity: 1;
}

.info .ititle {
  font-weight: bold;
  top: 16px;
  left: 0;
}

.info .idate {
  font-weight: lighter;
  color: #aaa;
  top: 48px;
  left: 0;
}

.info .idescription {
  font-weight: lighter;
  color: #aaa;
  white-space: nowrap;
}

#title {
  text-align: center;
  font-size: 10em;
}

h2 {
  font-size: 12px;
  font-weight: normal;
  color: rgba(0, 0, 0, .55);
  margin: 1em 0;
}

img.margin0 {
  border-radius: .5em;
  width: calc(128px - 24px);
  height: calc(128px - 24px);
}

.spoiler {
  color: transparent !important;
  background: #000;
  cursor: not-allowed;
}

.spoiler::selection {
  color: transparent !important;
  background: #000;
  cursor: not-allowed;
}

@media handheld, only screen and (max-device-width:480px), only screen and (max-device-width:320px), screen and (max-width:600px) {
  body {
    margin: 0;
    text-align: left;
    overflow-x: hidden;
  }

  h2 {
    text-align: center;
  }

  section {
    text-align: left;
    min-height: 0;
  }

  header, footer {
    display: none;
  }
}
