body.mobile {
  overflow-x: hidden;
}

body.mobile section {
  position: relative;
  /* top: calc(50% - 100px); */
  /* top: 0; */
  bottom: calc(-200px + 6em);
  /* overflow: hidden; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: calc(50vh - 100px);
}

body.mobile header,
body.mobile footer {
  position: static;
}

body.mobile .item {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 316px;
  margin: 1em;
  perspective: 3000px;
  transform-origin: 50% 45%;
}

body.mobile .control {
  text-align: center;
  position: static;
  bottom: 1em;
  right: 1em;
}

body.mobile .card {
  transform: rotate(0);
}

body.mobile .info {
  opacity: 0;
}

body.mobile .item.on .card,
body.mobile .card:hover {
  margin-top: 0;
}

body.mobile .item.on .info,
body.mobile .card:hover .info {
  opacity: 0;
}