/* .morse {
  background: #4284f3;
}

.braille {
  background: #f44336;
}

.SAT_kr {
  background: #d32f2f;
}

.bucket {
  background: #ff5722;
}

.qualify {
  background: #fafafa;
}

.item.qualify a {
  color: #000;
}

.lotto {
  background: #ffb300;
}

.battle {
  background: #3f51b5;
}

.mmm {
  background: #eeeeee;
}

.item.mmm a {
  color: #000;
}

.BIT {
  background: #00c853;
}

.Morse {
  background: #4caf50;
}

.jw {
  background: #424242;
} */

.SAT_kr .card {
  background: linear-gradient(90deg, rgba(244, 67, 54, 1) 0%, rgba(194, 24, 91, 1) 80%, rgba(156, 39, 176, 1) 100%) !important;
  /* background: linear-gradient(90deg, rgba(183, 28, 28, 1) 0%, rgba(211, 47, 47, 1) 80%, rgba(244, 67, 54, 1) 100%) !important; */
}

.instagram .card {
  background: radial-gradient(circle at 10% 90%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%) !important;
}

.owo .card {
  background: linear-gradient(to right, rgba(238, 174, 202, 1) 0%, rgb(148, 188, 233) 50%) !important;
}

/*******************
 *     JW CARD     *
 *******************/
.jw_card .html {
  width: 316px;
  height: 200px;
  top: 0;
  left: 0;
  position: absolute;
  color: #000;
  font-size: 9px;
  line-height: 1.25;
}

.jw_card .date,
.jw_card .title {
  display: none;
}

.jw_card .dept,
.jw_card .name,
.jw_card .addr {
  position: absolute;
}

.jw_card .dept,
.jw_card .name {
  top: calc(50% - 3.25em);
  left: 10px;
}

.jw_card .corp {
  font-size: 2em;
  font-weight: bolder;
  display: flex;
  align-items: center;
  left: 35%;
  position: absolute;
  top: 13%;
}

.jw_card .name {
  top: calc(50% - 1em);
  font-size: 2em;
  font-family: 'Noto Serif KR', serif;
}

.jw_card .addr {
  left: 35%;
  white-space: break-spaces;
  bottom: 0;
  right: 3em;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  border-left: 2px solid darkorange;
  padding: 0 0 3em 1em;
}

.jw_card .addr span {
  white-space: nowrap;
}

.jw_card img {
  width: 32px;
  height: 32px;
  margin-right: 4px;
}